.input-popup-container {
    position: relative;
}

// .input-popup-container div:first-child {
//     position: relative;
// }
.input-popup-container button {
    min-width: 100px;
    position: absolute;
    top: 0;
    right: 0;
}